@import url('https://fonts.googleapis.com/css2? family= Ubuntu:wght@300 & display=swap');


.login-card {
    box-sizing: border-box;
}

html,
body,
.warpoer {
    height: 100%;
}

dody {
    display: grid;
    place-items: center;
    margin: 0;
    padding: 0 24px;
    background-image: url(low-poly-grid-haikei.svg);
    background-repeat: no-repeat;
    background-size: cover;
    font-family: "Ubuntu";
    color: black;
    animation: rotate 6s infinite alternate linear;
}

.login-card {
    position: relative;
    z-index: 3;
    width: 100%;
    margin: 0 20px;
    padding: 70px 30px 44px;
    border-radius: 1.25rem;
    background: #fff;
    text-align: center;
}

.login-card>h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0 0 12px;
}

.login-card>h3 {
    color: rgba(0, 0, 0, 30);
    margin: 0 0 30px;
    font-weight: 500;
    font-size: 1rem;
}

.login-form {
    width: 100%;
    margin: 0;
    display: grid;
    gap: 16px;
}

.login-form>input {
    border: 2px solid #ebebeb;
    font-family: inherit;
    font-size: 15px;
    padding: 0 16px;
    border-radius: 1.25rem;
    transition: all 0.375;
}

.login-form>input:hover {
    border: 2px solid #10449a;
}

.login-form>button {
    cursor: pointer;
    width: 100%;
    padding: 0 16px;
    border-radius: 1.25rem;
    background: #216ce7;
    color: #f9f9f9;
    border: 0;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    letter-spacing: 2px;
    transition: all 0.375;
}